{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Opportunity {% endblock title %}

{% block contents %}
{% include 'includes/dashboard/nav.html' %}
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="row">
            <div class="col-lg-12">
                <!-- Ls widget -->
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title">
                            <h4>Post Job</h4>
                        </div>

                        <div class="widget-content">
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                            <!-- /Error messaging -->


                            <form class="default-form">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12">
                                        <form action="{% url 'opportunity:create' %}" method="POST">
                                            {% csrf_token %}
                                            {{form|crispy}}
                                            <input type="submit" value="Post Job"
                                                class="theme-btn btn-style-two large btn-block">
                                        </form>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}