{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %} My opportunities {% endblock title %}

{% block contents %}
{% include 'includes/dashboard/nav.html' %}
<!-- Dashboard -->
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Manage Jobs</h3>
            <div class="text">Ready to jump back in?</div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Ls widget -->
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title">
                            <h4>My Job Listings</h4>
                        </div>

                        <div class="widget-content">
                            <div class="table-outer">
                                <table class="default-table manage-job-table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Applications</th>
                                            <th>Created & Expired</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        {% for oppo in opportunity %}
                                        <tr>
                                            <td>
                                                <h6>{{ oppo.title }}</h6>
                                                <span class="info"><i class="icon flaticon-map-locator"></i> {{ oppo.advertiser.companyprofile.city}}, {{ oppo.advertiser.companyprofile.country}}</span>
                                            </td>
                                            <td class="applied"><a href="{% url 'talent:applied' oppo.slug %}">{{ oppo.appliedjob_set.count }} Application</a></td>
                                            <td>{{ oppo.created_date|naturaltime }} <br>{{ oppo.end_date }}</td>
                                            <td class="status">
                                                
                                                {% if oppo.job_is_active %}
                                                    Active
                                                {% else %}
                                                    Not Active
                                                {% endif %}
                                                    
                                            </td>
                                            <td>
                                                <div class="option-box">
                                                    <ul class="option-list">
                                                        <li><a href="{{ oppo.get_absolute_url }}"><button data-text="View Job"><span class="la la-eye"></span></button></a></li>
                                                        <li><a href="{% url 'opportunity:update' oppo.slug %}"><button data-text="Edit Aplication"><span
                                                            class="la la-pencil"></span></button></a></li>
                                                        <li><a href=""><button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button></a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Dashboard -->
{% endblock contents %}