{% extends 'pages/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Banner Section-->
<section class="intro">
    <div class="row">
        <div class="col-md-6 freelancer">
            <div class="intro-content">
                <h2>Find opportunities and start earning</h2>
                <div class="btn-box">
                    <a href="/accounts/login/" class="theme-btn btn-style-six">Work as a freelancer</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 employee">
            <div class="intro-content">
                <h2>Find the right talents for your next project</h2>
                <div class="btn-box">
                    <a href="/accounts/login/" class="theme-btn btn-style-six">Post a job</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Section-->
<section class="work-section">
    <div class="auto-container">
        <div class="sec-title text-left">
            <h2>Popular services</h2>
        </div>
        <div class="row">
            {% for cat in category %}
            <div class="col-md-4">
                <h5>{{ cat.category }}</h5>
                <p>{{ cat.description }}</p>
                <img src="{{ cat.icon.url }}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</section>



<!-- Testimonial Section Three -->
<section class="testimonial-section-three">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-left">
            <h2>What they're saying</h2>
        </div>

        <div class="carousel-outer wow fadeInUp">
            <!-- Testimonial Carousel -->
            <div class="testimonial-carousel-two owl-carousel owl-theme">
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-column">
                        <figure class="image"><img src="{% static 'images/resource/testimonial-image.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="content-column">
                        <!--Testimonial Block -->
                        <div class="testimonial-block-three">
                            <div class="inner-box">
                                <h4 class="title">Great quality!</h4>
                                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted
                                    out quickly with everything! Can’t quite… The Mitech team works really hard to
                                    ensure high level of quality</div>
                                <div class="info-box">
                                    <h4 class="name">Gabriel Nolan</h4>
                                    <span class="designation">Consultant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-column">
                        <figure class="image"><img src="{% static 'images/resource/testimonial-image.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="content-column">
                        <!--Testimonial Block -->
                        <div class="testimonial-block-three">
                            <div class="inner-box">
                                <h4 class="title">Great quality!</h4>
                                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted
                                    out quickly with everything! Can’t quite… The Mitech team works really hard to
                                    ensure high level of quality</div>
                                <div class="info-box">
                                    <h4 class="name">Gabriel Nolan</h4>
                                    <span class="designation">Consultant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-column">
                        <figure class="image"><img src="{% static 'images/resource/testimonial-image.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="content-column">
                        <!--Testimonial Block -->
                        <div class="testimonial-block-three">
                            <div class="inner-box">
                                <h4 class="title">Great quality!</h4>
                                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted
                                    out quickly with everything! Can’t quite… The Mitech team works really hard to
                                    ensure high level of quality</div>
                                <div class="info-box">
                                    <h4 class="name">Gabriel Nolan</h4>
                                    <span class="designation">Consultant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section Three -->

<section class="news-section stye-three">
    <div class="auto-container">
        <div class="sec-title text-left">
            <h2>Get inspired</h2>
        </div>
        <div class="row wow fadeInUp animated">
        {% for portfolio in portfolio %}
        <div class="news-block col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <a href="{{ portfolio.get_absolute_url }}"><figure class="image"><img src="{{ portfolio.cover.url }}" alt=""></figure></a>
                    </div>
                    <div class="lower-content">
                    <h3><a href="{{ portfolio.get_absolute_url }}">{{ portfolio.title }}</a> - <small>{{ portfolio.owner.get_full_name }}</small></h3>
                        <ul class="post-meta">
                            <li><i class="far fa-clock"></i> {{ portfolio.created_at|naturaltime }}</li>
                            <li><i class="fas fa-eye"></i> {{ portfolio.views }}</li>
                            <li><i class="fas fa-comments"></i> 12</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}