<div class="sidebar-backdrop"></div>
   <!-- User Sidebar -->
   <div class="user-sidebar">

    <div class="sidebar-inner">
        <ul class="navigation">
            {% if user.is_freelance %}
            <li><a href="{% url 'dashboard:index' %}"> <i class="la la-home"></i> Dashboard</a></li>
            <li><a href="{% url 'opportunity:list' %}"><i class="la la-user-tie"></i>Find Job</a></li>
            <li><a href="{% url 'opportunity:applied' %}"><i class="la la-file-invoice"></i> Applied Jobs</a></li>
            <li><a href="{% url 'opportunity:saved' %}"><i class="la la-bookmark-o"></i>Bookmarked Jobs</a></li>
            <!-- <li><a href="dashboard-messages.html"><i class="la la-comment-o"></i>Messages</a></li> -->
            {% endif %}

            {% if user.is_business %}
            <li><a href="{% url 'dashboard:index' %}"> <i class="la la-home"></i> Dashboard</a></li>
            <li><a href="{% url 'opportunity:create' %}"><i class="la la-user-tie"></i>Post Job</a></li>
            <li><a href="{% url 'opportunity:my-opportunities' %}"><i class="la la-briefcase"></i> Manage My Jobs </a></li>
            <!-- <li><a href="dashboard-messages.html"><i class="la la-comment-o"></i>Messages</a></li> -->
            {% endif %}
        </ul>
    </div>
</div>