{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block contents %}
{% include 'includes/dashboard/nav.html' %}

<!-- End User Sidebar -->
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Howdy, {{ user.get_full_name }}!</h3>
            <div class="text">Ready to jump back in?</div>
        </div>
        {% if messages %}
        <div class="alert alert-success">
            {% for m in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</li>
                {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item">
                    <div class="left">
                        <i class="icon flaticon-briefcase"></i>
                    </div>
                    <div class="right">
                        <h4>{{ posted_jobs }}</h4>
                        <p>Posted Jobs</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-red">
                    <div class="left">
                        <i class="icon la la-file-invoice"></i>
                    </div>
                    <div class="right">
                        <h4>TZS 800,000</h4>
                        <p>Total Earning</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-yellow">
                    <div class="left">
                        <i class="icon la la-comment-o"></i>
                    </div>
                    <div class="right">
                        <h4>74</h4>
                        <p>Messages</p>
                    </div>
                </div>
            </div>
            <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-green">
                    <div class="left">
                        <i class="icon la la-bookmark-o"></i>
                    </div>
                    <div class="right">
                        <h4>32</h4>
                        <p>Shortlist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}