{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{ user.get_full_name }} Profile {% endblock title %}

{% block contents %}
{% include 'includes/dashboard/nav.html' %}

<secttion class="user-dashboard">
    <div class="dashboard-outer">
        <div class="row">
            <div class="col-md-12">
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title">
                            <h4>Update User Profile</h4>
                        </div>
                        <div class="widget-content">
                            <form action="{% url 'register:company-profile' %}" method="POST" class="default-form" enctype='multipart/form-data'>
                                {{form|crispy}}
                                {% csrf_token %}
                                <input type="submit" value="Create Company Profile"
                                                class="theme-btn btn-style-two large btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</secttion>


{% endblock contents %}